<div class="content">
  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class="card">
        <div class=" card-header">
          <h4 class=" card-title">Non-Active Patients List</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <!-- <th>id</th> -->
                  <th>Username</th>
                  <th>Id</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nau of nonActivePatient">
                  <td>{{nau.username}}</td>
                  <td>{{nau.id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class="card">
        <div class=" card-header">
          <h4 class=" card-title">Non-Active Doctors List</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <!-- <th>id</th> -->
                  <th>Username</th>
                  <th>Id</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nau of nonActiveDoctor">
                  <td>{{nau.doctor.username}}</td>
                  <td>{{nau.doctor.doctorId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
