
<div class=" content">
        <div class="card">
          <div class=" card-header">
            <h4 class=" card-title">Patients Data</h4>
          </div>
            <div class=" table-responsive">
              <table class=" table tablesorter" >
                <thead class=" text-primary">
                  <tr>
                    <th>Date</th>
                    <th>Glucose Level</th>
                    <th>CarbInTake</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="patientDataDetail" (ngSubmit)="clickAndDelete()">
                    <td>{{ patientDataDetail.date |  date:'dd-MM-yy' }}</td>
                    <td>{{patientDataDetail.bloodGlucose}}</td>
                    <td>{{patientDataDetail.carbIntake}}</td>
                    <td><button class="btn btn-outline-danger" (click)="openVerticallyCentered(content)">Delete Data</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Data</h4>
    </div>
    <div class="modal-body">
      <p>Do you want to delete your data?</p>
    </div>
    <div class="modal-footer">
      <button type="button" aria-label="close" class="btn btn-outline-primary" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')" routerLink="./delete">Delete</button>
    </div>
  </ng-template>
