<div class="header">
  <a href="" class="logo">
    <img src="../../assets/img/logo.png" height="50px" width="50px" />
    Sacchon</a>
  <div class="header-left">
    <div class="topnav" *ngIf="role==='ROLE_PATIENT'">
      <div id="myLinks">
        <a href="patient/{{id}}">Home</a>
        <a routerLink="patient/{{id}}/data">My Data</a>
        <a routerLink="patient/{{id}}/consultations">My Consultations</a>
        <a routerLink="patient/{{id}}/data/average">Average Metrics</a>

      </div>
    </div>
    <div class="topnav" *ngIf="role==='ROLE_DOCTOR'">
      <div id="myLinks">
        <a href="doctor/{{id}}/patient">Home</a>
        <a routerLink="doctor/{{id}}/consultation" routerLinkActive="active">Consultations</a>
        <a routerLink="patient_null" routerLinkActive="active">Non-Doctor Patients</a>
        <a routerLink="doctor/{{id}}" routerLinkActive="active">My Account</a>
      </div>
    </div>
    <div class="topnav" *ngIf="role==='ROLE_CHIEF'">
      <div id="myLinks">
        <a href="chief">Home</a>
        <a routerLink="chief/needCons" routerLinkActive="active">Non-Consultation Patients</a>
        <a routerLink="chief/noActivity" routerLinkActive="active">Non-Active Users</a>
        <a routerLink="chief/{{id}}/data/infoSub" routerLinkActive="active">Information Submission</a>
      </div>
    </div>
  </div>
  <div class="header-right">
    <div *ngIf="!isLogged">
      <button class="btn btn-outline-primary" routerLink="./login"> Login </button>
    </div>
    <div *ngIf="isLogged">
      <button class="btn btn-outline-primary" (click)="logout()"> Logout </button>
    </div>
  </div>
</div>