<div class="content" style="margin-left:45px; margin-top:10px">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h4> <img src="https://placekeanu.com/52/52/g" alt="placeholder"> Doctor Details</h4>
        <div class="table">

          <table class="table tablesorter">
            <thead class="text-primary">
              <tr class="d-flex">
                <th class="col">Your unique number</th>
                <th class="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="doctorDetails" class="d-flex">
                <td class="col">{{doctorDetails.doctorId}}</td>
                <td class="col">{{doctorDetails.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      <button type="button" class="btn btn-outline-danger pull-right"  (click)="openVerticallyCentered(content)">Delete Account</button>
    </div>
  </div>
</div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Profile</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete your profile?</p>
    </div>
    <div class="modal-footer">
      <button type="button" aria-label="close" class="btn btn-outline-primary" (click)="modal.close('Close click')">Close</button>
      <button type="submit" class="btn btn-danger" (click)="modal.close('Close click')" routerLink="./delete">Delete</button>
    </div>
  </ng-template>